@import "tailwindcss";

@theme {
  /* Primary */
  --color-Orange: hsl(26, 100%, 55%);
  --color-Pale-orange: hsl(25, 100%, 94%);
  /* Neutral */
  --color-Very-dark-blue: hsl(220, 13%, 13%);
  --color-Dark-grayish-blue: hsl(219, 9%, 45%);
  --color-Grayish-blue: hsl(220, 14%, 75%);
  --color-Light-grayish-blue: hsl(223, 64%, 98%);
  --color-White: hsl(0, 0%, 100%);
  --color-Black: hsl(0, 0%, 0%);
}

@layer base {
  body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 16px;
    background-color: var(--color-Light-grayish-blue);
  }

  button {
    font: inherit;
    cursor: pointer;
  }

  img {
    display: block;
    max-width: 100%;
  }
}